<div class="my-search-container">
  <div class="my-search-shade"></div>
  <div class="my-search-content">
    <div class="my-search-content-header">
      <div class="my-search-close">
        <i class="fa fa-close"></i>
      </div>
      <div class="my-search-title">
        全文搜索
      </div>
      <div class="my-search-input">
        <i class="fa fa-search"></i>
        <input id="search-input" type="text">
        <button class="search-button">搜索</button>
      </div>
      <div class="my-search-categories">
        <span class="active">全部</span>
        {% for category in site.data.docs %}
        <span data-category="{{ category.name }}">
          {% if category.title %}
          {{ category.title }}
          {% else %}
          {{ category.name | capitalize }}
          {% endif %}
        </span>
        {% endfor %}
      </div>
    </div>
    <div class="my-search-results">
      <ul class="my-search-result-container" id="results-container">
      </ul>
      <div class="my-search-placeholder active">暂无内容</div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var PAGE_SIZE = 20
  $(document).ready(function () {
    $('.my-search-close').click(toggleSearch);
    $('.my-search-shade').click(toggleSearch);
    $('.search-button').click(handleSearch);
    $('.my-search-categories').on('click', 'span', handleCategoryClick)
    $('.my-search-result-container').on('scroll', handleSearchResultScroll)
    $('#search-input').on('keydown', function (e) {
      e.key === 'Enter' && handleSearch()
    })
  })
  function toggleSearch() {
    $('.my-search-shade').toggleClass('opened');
    $('.my-search-content').toggleClass('opened');
    $('body').toggleClass('search-opened');
    // 关闭搜索框后清空输入内容，并且清掉搜索结果
    if (!$('body').hasClass('search-opened')) {
      $('#search-input').val('');
      $('.my-search-result-container').empty();
    }
  }
  function handleCategoryClick(e) {
    $(e.target).addClass('active').siblings().removeClass('active');
    handleSearch(e);
  }
  function handleSearch(e, emitedByScroll) {
    var searchKeyword = $('#search-input').val();
    if (!searchKeyword.trim()) return
    !emitedByScroll && $('.my-search-placeholder').addClass('active').text('搜索中...').siblings().removeClass('active');
    !emitedByScroll && $('.my-search-result-container').empty();
    var type = $('.my-search-categories span.active').data('category') || 'all';
    var pageNo = emitedByScroll ? $('.my-search-result-container').data('page') : 1;
    var analyzer = $('#analyzer').prop('checked');
    search(searchKeyword, type, pageNo, analyzer);
  }
  function handleSearchResultScroll(e) {
    var scroller = e.target;
    var scrollTop = scroller.scrollTop;
    var clientHeight = scroller.clientHeight;
    var scrollHeight = scroller.scrollHeight;
    var loadmore = $('.my-search-loadmore.active').length
    if (scrollTop + clientHeight === scrollHeight && loadmore) {
      handleSearch(e, true);
    }
  }
  function search(searchKeyword, type, pageNo, analyzer) {
    // 防止在请求数据的时候重复发送请求
    if ($('.my-search-result-container.fetching').length) return
    $('.my-search-result-container').addClass('fetching')
    $.ajax({
      type: 'post',
      url: 'https://docs.logwirecloud.com/search',
      dataType: 'json',
      data: { content: searchKeyword, type: type, pageSize: PAGE_SIZE, pageNo: pageNo, analyzer: analyzer ? 'ik_max_word' : 'my_whitespace' },
      success: function (res) {
        var results = res.results;
        var data = results.data;
        var total = data.total
        var resultArray = data.data;
        var extraClass = 'active';
        var nextPageNo = pageNo + 1
        if (resultArray.length) {
          var fregment = document.createDocumentFragment();
          for (var index in resultArray) {
            var searchResult = resultArray[index];
            var elementString = getElementString(searchResult);
            $(fregment).append($(elementString));
          }
        } else {
          $('.my-search-placeholder').addClass('active').text('暂无内容').siblings().removeClass('active').removeClass('fetching');
          return
        }
        $('.my-search-loadmore').remove()
        if (total <= PAGE_SIZE * pageNo) {
          extraClass = 'hidden'
          nextPageNo = pageNo
        }
        $(fregment).append($("<li class='my-search-loadmore " + extraClass + "'>加载中...</li>"));
        $('.my-search-result-container').append(fregment).addClass('active').removeClass('fetching').data('page', nextPageNo).siblings().removeClass('active');
        if (pageNo === 1) {
          $('.my-search-result-container').scrollTop(0)
        }
      },
      error: function () {
        $('.my-search-placeholder').addClass('active').text('暂无内容').siblings().removeClass('active').removeClass('fetching');
      }
    })
  }
  function getElementString(result) {
    var elementString = "<li class='my-search-result'><a href=" + result.url + " target='_blank'>";
    elementString += "<div class='search-result-header'><div class='search-result-title'>" + result.title + "</div> <div class='search-result-type " + result.type + "'>" + result.type + "</div></div>";
    elementString += "<div class='search-result-content'>" + result.content + "</div>";
    elementString += "<div class='search-result-breadcrumb'>";
    for (var index in result.breadcrumbs) {
      elementString += "<span class='my-breadcrumb-item'>" + result.breadcrumbs[index] + "</span>";
    }
    elementString += "<span class='clearfix' /></div></a></li>";
    return elementString
  }
</script>
