<!-- Nav Bar -->
<nav class="navbar navbar-default my-topbar">
  <div class="container-fluid my-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my-topbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand my-brand" href="/">
        <img alt="Brand" class="logo" src="{{page.root}}/image/my.png">
        <span>Halley's Blog</span>
      </a>
      <span class="fa fa-search icon-search xs visible-xs-block"></span>
    </div>
    <div class="collapse navbar-collapse" id="my-topbar-collapse">
      <!-- <span class="my-topbar-item hidden-xs">
        <input type="text" placeholder="输入搜索内容" id="topSearch">
        <span class="fa fa-search  icon-search"></span>
      </span> -->
      <ul class="nav navbar-nav">
        <li>
            {% if page.url == '/' %}
            <a class="active" href="{{site.baseurl}}/">
                {% else %}
            <a href="{{site.baseurl}}/">
            {% endif %}
                <i class="fa fa-home"></i>Home
            </a>
        </li>

        {% for my_page in site.pages %}
            {% if my_page.type == 'page' %}
            <li>
                {% if my_page.url == page.url %}
                <a class="active" href="{{ my_page.url | prepend: site.baseurl }}">
                    {% else %}
                <a href="{{ my_page.url | prepend: site.baseurl }}">
                {% endif %}
                    <i class="fa fa-{{my_page.icon}}"></i>{{ my_page.title }}
                </a>
            </li>
            {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
<!-- <script>
  $(document).ready(function() {
    $('.icon-search').click(toggleSearch)
    $('#topSearch').keyup(function (e) {
      var value = e.target.value
      e.target.value = ''
      toggleSearch(function () {
        $('#search-input').focus()
        $('#search-input').val(value)
      })
    })
    function toggleSearch (callback) {
      $('.dw-search-shade').toggleClass('opened')
      $('.dw-search-content').toggleClass('opened')
      $('body').toggleClass('search-opened')
      typeof callback === 'function' && callback()
    }
</script> -->
<!-- End Nav -->
