.my-search-content{
  position: fixed;
  width: 600px;
  right: -600px;
  bottom: 0;
  height: 100vh;
  z-index: 9999;
  display: none;
  background: rgba(246, 246, 246, 1);
  box-shadow:0 0 8px 0 rgba(0, 0, 0, .4);
  transition: all 1s;
  overflow-y: auto;
}
.my-search-content-header{
  box-shadow: 0 2px 4px 0 #ddd;
  padding: 10px 20px 0;
  position: relative;
  z-index: 22;
}
.my-search-content.opened{
  top: 0;
  right: 0;
  display: block;
  display: flex;
  flex-direction: column;
}
.my-search-close{
  font-size: 18px;
  text-align: right;
  padding: 8px;
  cursor: pointer;
}
.my-search-title{
  font-size: 24px;
  margin-bottom: 12px;
}
.my-search-input{
  display: flex;
  align-items: center;
  padding: 4px;
  border: 1px solid #373947;
  background: #fff;
  margin-bottom: 10px;
}
.my-search-input i{
  font-size: 20px;
  margin-right: 4px;
  color: #ccc;
}
.my-search-input input{
  flex: 1;
  border: none;
  outline: none;
}
.my-search-input button{
  background: #373947;
  border: none;
  color: #fff;
  height: 100%;
  padding: 6px 16px;
  margin: -6px;
  outline: none;
}
.my-search-categories span{
  display: inline-block;
  padding: 12px 0 8px;
  margin-right: 12px;
  color: #888;
  cursor: pointer;
}
.my-search-categories span.active{
  color: #333;
  border-bottom: 1px solid #333;
}
.my-search-results{
  flex: 1 1 100%;
  overflow-y: hidden;
}
.my-search-result-container{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.my-search-result-container, .my-search-placeholder{
  height: 100%;
  text-align: center;
  display: none;
  background-color: #ffffff;
}
.my-search-placeholder{
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.my-search-results .active{
  display: block;
}
.my-search-result{
  padding: 20px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  text-align: left;
}
.my-search-result:hover{
  background: #eee;
}
.my-search-result em{
  font-style: normal;
  font-weight: 600;
  color: #333;
}
/* breadcrumb */
.my-breadcrumb-container{
  position: relative;
  z-index: 20;
  margin-bottom: 30px;
}
.my-breadcrumb{
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
}
.my-breadcrumb-item{
  float: left;
}
.my-breadcrumb-item:last-child a{
  color: #333;
}
.my-breadcrumb-item a{
  font-size: 14px;
  font-weight: 500;
}
.my-breadcrumb-item:nth-child(n+2)::before{
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f105";
  color: #888;
  margin: 0 5px;
}
#my-topbar-collapse{
  background-color: #373947;
  border: none;
  margin: 0 -6%;
  padding: 0 5%;
}
.my-topbar .navbar-toggle{
  padding: 4px 5px;
  margin: 8px;
  font-size: 16px;
  border: none;
}

/* 自适应 */
@media (max-width: 600px) {
  .my-search-content{
    width: 100%;
  }
}
@media (max-width: 992px) {
  .my-background{
    display: none;
  }
  .my-sidebar{
    border-top: 1px solid #eee;
  }
}
@media (min-width: 992px) {
  .content-container>.row{
    width: 100%;
    display: table;
  }
  .content-container>.row>.my-main-content, .content-container>.row>.my-sidebar{
    display: table-cell;
    float: none;
    vertical-align: top;
  }
  .content-container>.row>.my-main-content{
    background-color: #fbfbfb;
  }
}
@media (max-width: 768px) {
  .my-topbar-collapse{
    background: #fff;
    box-shadow: 0 6px 6px 0 #aaa;
  }
  .navbar-nav{
    margin: 0;
  }
}
