---
layout: default
---

<div class="page clearfix" post>
    <div class="my-main-content">
        <h1>{{page.title}}</h1>
        <div class="label" style="line-height: 50px;">

            <div class="label-card" style="color: #333;">
                <i class="fa fa-calendar"></i>{{ page.date | date: "%F" }}
            </div>

            <div class="label-card" style="color: rebeccapurple;">
                {% if page.author %}<i class="fa fa-user"></i>{{ page.author }}
                {% endif %}
            </div>

            <div class="label-card">
                {% if page.meta %}<i class="fa fa-key"></i>{{ page.meta }}  {% endif %}
            </div>

            <div class="label-card">
            {% include category.html %}
            </div>

            <div class="label-card">
            {% include tag.html %}
            </div>

        </div>
        <hr>
        <article itemscope itemtype="http://schema.org/BlogPosting">
        {{content}}
        </article>
        <hr>

        {% assign hasSimilar = '' %}
        {% for post in site.related_posts %}
            {% assign postHasSimilar = false %}
            {% for tag in post.tags %}
                {% for thisTag in page.tags %}
                    {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
                        {% if hasSimilar.size == 0 %}
                        <h2 id="similar_posts">Similar Posts</h2>
                        <ul>
                        {% endif %}
                        <li class="relatedPost">
                            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
                            {% if post.series %}
                                (Series: {{ post.series }})
                            {% endif %}
                            </a>
                        </li>
                        {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                        {% assign postHasSimilar = true %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
        {% if hasSimilar.size > 0 %}
            </ul>
        {% endif %}

        {% include previousAndNext.html %}

        <h2 id="comments">Comments</h2>
        {% include comments.html %}


    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="my-sidebar">
        <div class="wrap">
          <div class="side">
            <div id="tocify" class="dw-toc">
              <div class="dw-toc-header">Table of contents</div>
            </div>
            {% if hasSimilar.size > 0 %}
            <div><a href="#similar_posts">Similar Posts</a></div>
            {% endif %}
            <div><a href="#comments">Comments</a></div>
          </div>
            <!-- Content -->
            <!--<div class="side content">
                <ul id="content-side" class="content-ul">
                    {% if hasSimilar.size > 0 %}
                    <li><a href="#similar_posts">Similar Posts</a></li>
                    {% endif %}
                    <li><a href="#comments">Comments</a></li>
                </ul>
            </div>-->
        </div>
    </div>
</div>
<script>
/**
 * target _blank
 */
(function() {
    var aTags = document.querySelectorAll('article a:not([id])')
    for (var i = 0; i < aTags.length; i++) {
        aTags[i].setAttribute('target', '_blank')
    }
}());
</script>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
<script>
  $( document ).ready(function() {
    if ($('#toc')) {
      $('#toc').remove()
    }
      // Handler for .ready() called.
    $('#tocify').tocify({
      selectors: 'h2,h3,h4,h5',
      extendPage: false
    });

    /* this offset helps account for the space taken up by the floating toolbar. */
    $('#toc').on('click', 'a', function() {
      var target = $(this.getAttribute('href'))
        , scroll_target = target.offset().top

      $(window).scrollTop(scroll_target - 10);
      return false
    })

  });
</script>
